snippet init "Initialize code structue" b
package main

import "fmt"

func main(){
	fmt.Println("")
}
endsnippet
snippet vv "Initialize Variable Name" b
${1:VarName} := ${2:Value}
endsnippet

snippet ier "If error" b
if err!=nil { ${1:Statement} } 
endsnippet

snippet fr "For range " b

endsnippet
